USE [LivePCM]
GO
/****** Object:  StoredProcedure [dbo].[SPANCAL]    Script Date: 5/25/2018 3:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- exec [SPANCAL] 'Y3'

ALTER PROC [dbo].[SPANCAL]
	@ALL VARCHAR(100) ='',
	@C VARCHAR(100) ='',
	@S VARCHAR(100) ='',
	@id VARCHAR(100) =''
AS 
 
 if @ALL ='' and @ALL ='Y'
 begin
			create table #t123
			(
				t1 varchar(1000)
			)
			insert into #t123
			EXEC XP_CMDSHELL 'D:\TechExcel\TECHEXCEL\SPANDATA\SPANDATA.EXE D:\TECHEXCEL\ExchangeMargin\NSE_FNO\RISKPARAM.SPN' 

			UPDATE SPAN_fut
			SET FUT_setlDate ='20140424'
			WHERE FUT_setlDate ='20140423'

			IF(select COUNT(*) from #t123 where t1 is not null AND T1 NOT LIKE 'Data previously imported %') != 0 
			BEGIN 
				exec [PRE_SPANCAL]
				SET @ALL ='Y'
			END
			DELETE SPANMARGIN
			WHERE Position_Date !=  CONVERT(datetime,convert(varchar(10),GETDATE(),103),103)
			DELETE SPANMARGIN_Exp
			WHERE Position_Date !=  CONVERT(datetime,convert(varchar(10),GETDATE(),103),103)
			and Isnull(COCD,'') != 'CD_NSE'
end 
IF @ALL ='Y1'
BEGIN

		SELECT DISTINCT CLIENT_ID,CLIENT_ID2
		into #TRADE123 
		FROM TRADE_mg(NOLOCK)
		WHERE COMPANY_CODE ='NSE_FNO'

		CREATE INDEX I1 ON #TRADE123 
		(
		CLIENT_ID  ASC,
		CLIENT_ID2  ASC
		)
		 
		DELETE SPANMARGIN
		FROM SPANMARGIN(NOLOCK) X LEFT OUTER JOIN #TRADE123 Y ON X.TMCODE = Y.CLIENT_ID2 AND X.CLIENT_ID = Y.CLIENT_ID
		WHERE Span_Require IS NOT NULL
		AND Y.CLIENT_ID2 IS NULL

		DELETE SPANMARGIN_exp
		FROM SPANMARGIN_exp(NOLOCK) X LEFT OUTER JOIN #TRADE123 Y ON X.TMCODE = Y.CLIENT_ID2 AND X.CLIENT_ID = Y.CLIENT_ID
		WHERE Span_Require IS NOT NULL
		AND Y.CLIENT_ID2 IS NULL
		and Isnull(COCD,'') != 'CD_NSE'
END 
CREATE TABLE #SPANDATA
(
	CLIENT_ID VARCHAR(100),
	CLIENT_ID2 VARCHAR(100),
	SCRIP_NAME VARCHAR(100),
	LOGIC VARCHAR(100),
	SPANMARGIN NUMERIC(30,2)
)
CREATE TABLE #SPANREC
(
	CLIENT_ID VARCHAR(100),
	CLIENT_ID2 VARCHAR(100),
	SCRIP_SYMBOL VARCHAR(100),
	SCRIP_NAME VARCHAR(100),
	C_SCRIP_NAME VARCHAR(100),
	abs_QTY as (isnull(abs(QTY),0)),
	QTY NUMERIC(30),
	DQTY NUMERIC(30,4),
	EXPIRY_DATE VARCHAR(100),
	INST_TYPE VARCHAR(100),
	OPTION_TYPE VARCHAR(100),
	STRIKE_PRICE VARCHAR(100),
	PFID VARCHAR(100),
	LOT NUMERIC(30,4),
	A1 NUMERIC(30,4),
	A2 NUMERIC(30,4),
	A3 NUMERIC(30,4),
	A4 NUMERIC(30,4),
	A5 NUMERIC(30,4),
	A6 NUMERIC(30,4),
	A7 NUMERIC(30,4),
	A8 NUMERIC(30,4),
	A9 NUMERIC(30,4),
	A10 NUMERIC(30,4),
	A11 NUMERIC(30,4),
	A12 NUMERIC(30,4),
	A13 NUMERIC(30,4),
	A14 NUMERIC(30,4),
	A15 NUMERIC(30,4),
	A16 NUMERIC(30,4) ,
	D NUMERIC(30,4) ,
	OPTIONRATE NUMERIC(30,4) 
)



IF @ALL ='Y1'
BEGIN
		INSERT INTO #SPANREC
		(
			CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,c_SCRIP_NAME,QTY,EXPIRY_DATE,INST_TYPE,OPTION_TYPE,STRIKE_PRICE,SCRIP_NAME
		)
		SELECT  a.CLIENT_ID,a.CLIENT_ID2 ,SCRIP_SYMBOL ,MAX(SCRIP_NAME) SCRIP_NAME,SUM(CASE WHEN BUY_SALE ='BUY' THEN QUANTITY ELSE	-QUANTITY END) QTY
			,REPLACE(CONVERT(VARCHAR(10),MAX(EXPIRY_DATE) ,102),'.','') EXPIRY_DATE,MAX(INSTRUMENT_TYPE) INST_TYPE,MAX(OPTION_TYPE) OPTION_TYPE,MAX(STRIKE_PRICE) STRIKE_PRICE
			,CASE WHEN MAX(SCRIP_NAME) ='MINIFTY' THEN 'NIFTY' ELSE MAX(SCRIP_NAME) END
		FROM [TRADE_INST](NOLOCK) a
		WHERE COMPANY_CODE ='NSE_FNO'
		AND CLIENT_ID IN (SELECT TMCODE FROM RMS_TM_DETAILS(NOLOCK) WHERE  TMCODE   IS NOT NULL AND TMTYPE ='CP')
		AND  ISNULL(CUSTODIAN_CODE,'') != '12'
		GROUP BY a.CLIENT_ID,a.CLIENT_ID2  ,SCRIP_SYMBOL
		HAVING SUM(CASE WHEN BUY_SALE ='BUY' THEN QUANTITY ELSE	-QUANTITY END)!=0
		
		DECLARE @A AS VARCHAR(MAX)
		SET @A  ='EXEC [Span_CrossM] 1'

		INSERT INTO #SPANREC
		(
			CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,c_SCRIP_NAME,QTY,EXPIRY_DATE,INST_TYPE,SCRIP_NAME
		)
		EXEC(@A) 
		print @A
--		--
--		insert into #SpanClient
--		select CLIENT_ID,replace(CLIENT_ID2  ,'_Cross','')
--		from #SPANREC(NOLOCK)
--		where CLIENT_ID2 like '%_Cross'
--		insert into #SpanClient1
--		select CLIENT_ID,replace(CLIENT_ID2  ,'_Cross','')  
--		from #SPANREC(NOLOCK)
--		where CLIENT_ID2 like '%_Cross'

 
END
else IF @ALL ='Y2'
BEGIN
		INSERT INTO #SPANREC
		(
			CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,c_SCRIP_NAME,QTY,EXPIRY_DATE,INST_TYPE,OPTION_TYPE,STRIKE_PRICE,SCRIP_NAME
		)
		SELECT  a.CLIENT_ID,a.CLIENT_ID2 ,SCRIP_SYMBOL ,MAX(SCRIP_NAME) SCRIP_NAME,SUM(CASE WHEN BUY_SALE ='BUY' THEN QUANTITY ELSE	-QUANTITY END) QTY
			,REPLACE(CONVERT(VARCHAR(10),MAX(EXPIRY_DATE) ,102),'.','') EXPIRY_DATE,MAX(INSTRUMENT_TYPE) INST_TYPE,MAX(OPTION_TYPE) OPTION_TYPE,MAX(STRIKE_PRICE) STRIKE_PRICE
			,CASE WHEN MAX(SCRIP_NAME) ='MINIFTY' THEN 'NIFTY' ELSE MAX(SCRIP_NAME) END
		FROM [TRADE_Mg](NOLOCK) a
		WHERE COMPANY_CODE ='NSE_FNO'
		AND CLIENT_ID IN (SELECT TMCODE FROM RMS_TM_DETAILS(NOLOCK) WHERE  TMCODE   IS NOT NULL AND TMTYPE ='CP')
		and CLIENT_ID  =@C
		AND  ISNULL(CUSTODIAN_CODE,'') != '12'
		GROUP BY a.CLIENT_ID,a.CLIENT_ID2  ,SCRIP_SYMBOL
		HAVING SUM(CASE WHEN BUY_SALE ='BUY' THEN QUANTITY ELSE	-QUANTITY END)!=0
		
		INSERT INTO #SPANREC
		(
			CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,c_SCRIP_NAME,QTY,EXPIRY_DATE,INST_TYPE,OPTION_TYPE,STRIKE_PRICE,SCRIP_NAME
		)
		SELECT  a.CLIENT_ID,a.CLIENT_ID2 ,SCRIP_SYMBOL ,MAX(SCRIP_NAME) SCRIP_NAME,SUM(CASE WHEN BUY_SALE ='BUY' THEN QUANTITY ELSE	-QUANTITY END) QTY
			,REPLACE(CONVERT(VARCHAR(10),MAX(EXPIRY_DATE) ,102),'.','') EXPIRY_DATE,MAX(INSTRUMENT_TYPE) INST_TYPE,MAX(OPTION_TYPE) OPTION_TYPE,MAX(STRIKE_PRICE) STRIKE_PRICE
			,CASE WHEN MAX(SCRIP_NAME) ='MINIFTY' THEN 'NIFTY' ELSE MAX(SCRIP_NAME) END
		FROM TRADE1_SPAN_CAL(NOLOCK) a
		WHERE COMPANY_CODE ='NSE_FNO'
		--AND CLIENT_ID IN (SELECT TMCODE FROM RMS_TM_DETAILS(NOLOCK) WHERE  TMCODE   IS NOT NULL AND TMTYPE ='CP')
		and CLIENT_ID  =@C
		and user_id =@id 
		AND  ISNULL(CUSTODIAN_CODE,'') != '12'
		GROUP BY a.CLIENT_ID,a.CLIENT_ID2  ,SCRIP_SYMBOL
		HAVING SUM(CASE WHEN BUY_SALE ='BUY' THEN QUANTITY ELSE	-QUANTITY END)!=0
		 
		DECLARE @A11 AS VARCHAR(MAX)
		SET @A11  ='EXEC [Span_CrossM] 1'

		INSERT INTO #SPANREC
		(
			CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,c_SCRIP_NAME,QTY,EXPIRY_DATE,INST_TYPE,SCRIP_NAME
		)
		EXEC(@A11) 
		print @A11

END
else 
begin
		IF (@ALL ='Y' or @ALL ='Y3')
		BEGIN
				INSERT INTO SpanClient(CLIENT_ID,CLIENT_ID2)
				SELECT DISTINCT CLIENT_ID,CLIENT_ID2
				FROM [TRADE_Mg](NOLOCK)
				WHERE COMPANY_CODE IN ('NSE_FNO') order by CLIENT_ID
				INSERT INTO SpanClient(CLIENT_ID,CLIENT_ID2)
				SELECT DISTINCT REVERSE_CLIENT_ID,REVERSE_CLIENT_ID
				FROM TRADE(NOLOCK)
				WHERE COMPANY_CODE IN ('NSE_FNO') AND  CUSTODIAN_CODE ='17'
		END
		select * into #SpanClient
		from SpanClient(NOLOCK)

		select * into #SpanClient1
		from SpanClient(NOLOCK)


		SELECT MAX(ROWID) ROWID
		INTO #NOTdEL_SpanClient
		FROM #SpanClient
		GROUP BY CLIENT_ID,CLIENT_ID2



		DELETE SpanClient
		from SpanClient(nolock)
		WHERE ROWID NOT IN(SELECT ROWID FROM #NOTdEL_SpanClient)
		AND ROWID  IN(SELECT ROWID FROM #SpanClient)


		DELETE #SpanClient
		WHERE ROWID  NOT IN(SELECT ROWID FROM #NOTdEL_SpanClient)
		
		-- Comment 20/12/2017 Start 
		--SELECT CLIENT_ID,CLIENT_ID2,COUNT(*)
		--FROM #SpanClient 
		--GROUP BY CLIENT_ID,CLIENT_ID2 
		--HAVING COUNT(*) > 1
		--End
		--where CLIENT_ID2 ='Q23'

		--IF @@ROWCOUNT !=0
		--BEGIN
		--	RETURN 0 
		--END

		IF @ALL ='Y3'
		BEGIN
				INSERT INTO #SPANREC
				(
					CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,c_SCRIP_NAME,QTY,EXPIRY_DATE,INST_TYPE,OPTION_TYPE,STRIKE_PRICE,SCRIP_NAME
				)
				SELECT  a.CLIENT_ID,a.CLIENT_ID2 ,SCRIP_SYMBOL ,MAX(SCRIP_NAME) SCRIP_NAME,SUM(CASE WHEN BUY_SALE ='BUY' THEN QUANTITY ELSE	-QUANTITY END) QTY
					,REPLACE(CONVERT(VARCHAR(10),MAX(EXPIRY_DATE) ,102),'.','') EXPIRY_DATE,MAX(INSTRUMENT_TYPE) INST_TYPE,MAX(OPTION_TYPE) OPTION_TYPE,MAX(STRIKE_PRICE) STRIKE_PRICE
					,CASE WHEN MAX(SCRIP_NAME) ='MINIFTY' THEN 'NIFTY' ELSE MAX(SCRIP_NAME) END
				FROM [TRADE_Mg](NOLOCK) a,#SpanClient b
				WHERE COMPANY_CODE ='NSE_FNO'
				AND A.CLIENT_ID = B.CLIENT_ID
				AND A.CLIENT_ID2 = B.CLIENT_ID2
				AND convert(datetime,EXPIRY_DATE,103) > 
				(select min(convert(DATETIME,EXPIRY_DATE,103)) FROM FNO_SCRIP_MASTER_TABLE(nolock) y where a.scrip_name=y.symbol AND InstrumentType LIKE '%FUT%' and convert(DATE,EXPIRY_DATE,103) >= Convert(Date,getdate(),103))
				--(select min(convert(DATETIME,EXPIRYDATE,103)) FROM [vwTradingEngineScrips](nolock) y where a.scrip_name=y.symbol and InstrumentsTypes LIKE '%FUT%' and convert(DATETIME,EXPIRYDATE,103) >= getdate())
				GROUP BY a.CLIENT_ID,a.CLIENT_ID2  ,SCRIP_SYMBOL
				--HAVING SUM(CASE WHEN BUY_SALE ='BUY' THEN QUANTITY ELSE	-QUANTITY END)!=0
		end
		else
		begin

				INSERT INTO #SPANREC
				(
					CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,c_SCRIP_NAME,QTY,EXPIRY_DATE,INST_TYPE,OPTION_TYPE,STRIKE_PRICE,SCRIP_NAME
				)
				SELECT  a.CLIENT_ID,a.CLIENT_ID2 ,SCRIP_SYMBOL ,MAX(SCRIP_NAME) SCRIP_NAME,SUM(CASE WHEN BUY_SALE ='BUY' THEN QUANTITY ELSE	-QUANTITY END) QTY
					,REPLACE(CONVERT(VARCHAR(10),MAX(EXPIRY_DATE) ,102),'.','') EXPIRY_DATE,MAX(INSTRUMENT_TYPE) INST_TYPE,MAX(OPTION_TYPE) OPTION_TYPE,MAX(STRIKE_PRICE) STRIKE_PRICE
					,CASE WHEN MAX(SCRIP_NAME) ='MINIFTY' THEN 'NIFTY' ELSE MAX(SCRIP_NAME) END
				FROM [TRADE_Mg](NOLOCK) a,#SpanClient b
				WHERE COMPANY_CODE ='NSE_FNO'
				AND A.CLIENT_ID = B.CLIENT_ID
				AND A.CLIENT_ID2 = B.CLIENT_ID2
				GROUP BY a.CLIENT_ID,a.CLIENT_ID2  ,SCRIP_SYMBOL
				HAVING SUM(CASE WHEN BUY_SALE ='BUY' THEN QUANTITY ELSE	-QUANTITY END)!=0


				SELECT '1X2X3X4X','1X2X3X4X',SYMBOL,SYMBOL,max(MINIMUM_LOT_SIZE),REPLACE(CONVERT(VARCHAR(10),MIN(CONVERT(DATETIME,EXPIRY_DATE,103)) ,102),'.',''),
					'FUT','',0,SYMBOL
				FROM dbo.FNO_SCRIP_MASTER_TABLE x
				WHERE MINIMUM_LOT_SIZE !=1
				AND SYMBOL NOT IN('MINIFTY')
				AND convert(datetime,EXPIRY_DATE,103)in (select min(convert(DATETIME,EXPIRY_DATE,103)) FROM FNO_SCRIP_MASTER_TABLE(nolock) y where x.symbol=y.symbol AND InstrumentType LIKE '%FUT%' and convert(DATETIME,EXPIRY_DATE,103) >= getdate() )
				GROUP BY  SYMBOL

				INSERT INTO #SPANREC
				(
					CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,c_SCRIP_NAME,QTY,EXPIRY_DATE,INST_TYPE,OPTION_TYPE,STRIKE_PRICE,SCRIP_NAME
				)
				SELECT '1X2X3X4X','1X2X3X4X',SYMBOL,SYMBOL,max(MINIMUM_LOT_SIZE),REPLACE(CONVERT(VARCHAR(10),MIN(CONVERT(DATETIME,EXPIRY_DATE,103)) ,102),'.',''),
					'FUT','',0,SYMBOL
				FROM dbo.FNO_SCRIP_MASTER_TABLE x
				WHERE MINIMUM_LOT_SIZE !=1
				AND SYMBOL NOT IN('MINIFTY')
				AND convert(datetime,EXPIRY_DATE,103)in (select min(convert(DATETIME,EXPIRY_DATE,103)) FROM FNO_SCRIP_MASTER_TABLE(nolock) y where x.symbol=y.symbol AND InstrumentType LIKE '%FUT%' and convert(DATETIME,EXPIRY_DATE,103) >= getdate() )
				GROUP BY  SYMBOL

		
				INSERT INTO #SPANREC
				(
					CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,c_SCRIP_NAME,QTY,EXPIRY_DATE,INST_TYPE,OPTION_TYPE,STRIKE_PRICE,SCRIP_NAME
				)
				SELECT '1X2X3X41','1X2X3X41',SYMBOL,SYMBOL,-1*max(MINIMUM_LOT_SIZE),REPLACE(CONVERT(VARCHAR(10),MIN(CONVERT(DATETIME,EXPIRY_DATE,103)) ,102),'.',''),
					'FUT','',0,SYMBOL
				FROM dbo.FNO_SCRIP_MASTER_TABLE x
				WHERE MINIMUM_LOT_SIZE !=1
				AND SYMBOL NOT IN('MINIFTY')
				AND convert(datetime,EXPIRY_DATE,103)in (select min(convert(DATETIME,EXPIRY_DATE,103)) FROM FNO_SCRIP_MASTER_TABLE(nolock) y where x.symbol=y.symbol AND InstrumentType LIKE '%FUT%' and convert(DATETIME,EXPIRY_DATE,103) >= getdate() )
				GROUP BY  SYMBOL

				DECLARE @A1 AS VARCHAR(MAX)
				SET @A1  ='EXEC [Span_CrossM]'

				INSERT INTO #SPANREC
				(
					CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,c_SCRIP_NAME,QTY,EXPIRY_DATE,INST_TYPE,SCRIP_NAME
				)
				EXEC(@A1) 
				print @A1
				--
				insert into #SpanClient
				select CLIENT_ID,replace(CLIENT_ID2  ,'_Cross','')
				from #SPANREC(NOLOCK)
				where CLIENT_ID2 like '%_Cross'
				insert into #SpanClient1
				select CLIENT_ID,replace(CLIENT_ID2  ,'_Cross','')  
				from #SPANREC(NOLOCK)
				where CLIENT_ID2 like '%_Cross'
		end
end


SELECT A.PFCODE,B.* 
into #SPAN_futpf
FROM SPAN_futpf A,SPAN_fut B
WHERE A.PFID = B.PFID




if(select count(*) from #SPAN_futpf) = 0 
begin
	select 'Future Span Data Not Found'
	return 0
end


UPDATE #SPANREC
SET 
		A1 = B.A1*QTY,
		A2 = B.A2*QTY,
		A3 = B.A3*QTY,
		A4 = B.A4*QTY,
		A5 = B.A5*QTY,
		A6 = B.A6*QTY,
		A7 = B.A7*QTY,
		A8 = B.A8*QTY,
		A9 = B.A9*QTY,
		A10 = B.A10*QTY,
		A11 = B.A11*QTY,
		A12 = B.A12*QTY,
		A13 = B.A13*QTY,
		A14 = B.A14*QTY,
		A15 = B.A15*QTY,
		A16 = B.A16 *QTY,
		DQTY=QTY
FROM #SPANREC A,#SPAN_futpf B
WHERE A.SCRIP_NAME =B.PFCODE
AND A.INST_TYPE LIKE 'FUT%'
AND A.EXPIRY_DATE = B.FUT_SETLDATE
 
 Select * from #SPAN_futpf
 Select * from #SPANREC
 

--SELECT pfcode,series_setldate,c.* 
--into #SPAN_OOPPF
--FROM SPAN_SERIES A,SPAN_OOPPF B, SPAN_OPT C
--WHERE A.PFID = B.PFID 
--AND A.SERIES_ID = C.SERIES_ID

SELECT pfcode,series_setldate,c.* 
into #SPAN_OOPPF
FROM SPAN_SERIES A,SPAN_OOPPF B, SPAN_OPT C
WHERE A.PFID = B.PFID 
AND a.PFID = C.PFID 
AND a.series_pe = C.pe


if(select count(*) from #SPAN_OOPPF) = 0 
begin
	select 'Option Span Data Not Found'
	return 0
end

UPDATE #SPANREC
SET 
		A1 = B.A1*QTY,
		A2 = B.A2*QTY,
		A3 = B.A3*QTY,
		A4 = B.A4*QTY,
		A5 = B.A5*QTY,
		A6 = B.A6*QTY,
		A7 = B.A7*QTY,
		A8 = B.A8*QTY,
		A9 = B.A9*QTY,
		A10 = B.A10*QTY,
		A11 = B.A11*QTY,
		A12 = B.A12*QTY,
		A13 = B.A13*QTY,
		A14 = B.A14*QTY,
		A15 = B.A15*QTY,
		A16 = B.A16 *QTY,
		OPTIONRATE =p,
		D = cast(B.D as numeric(30,4)),
		DQTY=cast(B.D as numeric(30,4))*QTY
FROM #SPANREC A,#SPAN_OOPPF B
WHERE A.c_SCRIP_NAME =B.PFCODE
AND A.INST_TYPE LIKE 'opt%'
AND A.EXPIRY_DATE = B.pe--B.series_setldate
and left(a.OPTION_TYPE,1) = b.o
and a.STRIKE_PRICE = k

 

SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A1) AS NUMERIC(30,2)) A1,MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY INTO #SPANREC_16CON
FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A2) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A3) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A4) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A5) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A6) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A7) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A8) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A9) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A10) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A11) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A12) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A13) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A14) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A15) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME UNION ALL
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(sum(A16) AS NUMERIC(30,2)),MAX(OPTIONRATE) OPTIONRATE,SUM(QTY) QTY FROM #SPANREC group by CLIENT_ID,CLIENT_ID2,SCRIP_NAME 

INSERT INTO #SPANDATA
(CLIENT_ID,CLIENT_ID2,SCRIP_NAME,SPANMARGIN,LOGIC)
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,MAX(A1) MAXA ,'16 CON'
FROM #SPANREC_16CON
GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME



INSERT INTO #SPANDATA
(CLIENT_ID,CLIENT_ID2,SCRIP_NAME,SPANMARGIN,LOGIC)
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,SUM(OPTIONRATE*QTY)  *-1,'OPTION PRICE'
FROM #SPANREC
WHERE INST_TYPE   LIKE 'OPT%'
GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME


SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME
INTO #SPAN_OPTION 
FROM #SPANREC
GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME
HAVING MAX(CASE WHEN INST_TYPE LIKE  'OPT%' AND  QTY > 0 THEN  1 ELSE 2 END )  =1




if(select count(*) from [Span_somTiers]) = 0 
begin
	select 'Option SOM Span Data Not Found'
	return 0
end

INSERT INTO #SPANDATA
(CLIENT_ID,CLIENT_ID2,SCRIP_NAME,SPANMARGIN,LOGIC)
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,SUM(QTY*VAL)*-1,'SOM'
FROM #SPANREC A,[Span_somTiers] B
WHERE INST_TYPE   LIKE 'OPT%'
AND A.SCRIP_NAME =B.CC
AND QTY < 0 
GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME




SELECT        A.DSPREAD_ID, A.CC, A.SPREAD, A.CHARGEMETH,  A.VAL,    B.I,MIN(PE) EXP1,MAX(PE) EXP2
INTO #SPRED 
FROM            SPAN_DSPREAD AS A INNER JOIN
                         SPAN_DSPREAD_PLEG AS B ON A.DSPREAD_ID = B.DSPREAD_ID
GROUP BY A.DSPREAD_ID, A.CC, A.SPREAD, A.CHARGEMETH,  A.VAL,  B.I


if(select count(*) from #SPRED) = 0 
begin
	select 'DSpred Data Not Found'
	return 0
end


SELECT  CLIENT_ID,CLIENT_ID2,SCRIP_NAME,EXPIRY_DATE EXPIRY_DATE1,CAST(EXPIRY_DATE AS DATETIME) EXPIRY_DATE
,SUM(DQTY) QTY,cast('' as varchar(100)) ProcessData
,cast(0 as Numeric(30,4)) ProcessQty
,CASE WHEN SUM(DQTY) > 0  THEN 'B' ELSE 'S' END BS
into #SpreedData
FROM #SPANREC
--WHERE INST_TYPE LIKE 'FUT%' 
GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME,CAST(EXPIRY_DATE AS DATETIME),EXPIRY_DATE

SELECT  CLIENT_ID,CLIENT_ID2,SCRIP_NAME,COUNT(*) CNT
INTO #SPAN_SPREDDATA
FROM #SpreedData
GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME
HAVING COUNT(*) >= 2
AND ABS(SUM(CASE WHEN QTY < 0 THEN QTY ELSE 0 END)) > 0
AND ABS(SUM(CASE WHEN QTY > 0 THEN QTY ELSE 0 END)) > 0


--DELETE #SPRED
--WHERE CC NOT IN(SELECT DISTINCT SCRIP_NAME FROM #SPAN_SPREDDATA)

DELETE #SPRED
WHERE EXP1 NOT IN(SELECT DISTINCT EXPIRY_DATE1 FROM #SpreedData WHERE CC = SCRIP_NAME)
AND EXP2 NOT IN(SELECT DISTINCT EXPIRY_DATE1 FROM #SpreedData WHERE CC = SCRIP_NAME)

--SELECT DSPREAD_ID,SPREAD,CC,VAL,EXP1,EXP2
--FROM  #SPRED	
--ORDER BY DSPREAD_ID,SPREAD


select CLIENT_ID,CLIENT_ID2, scrip_name
into #SpreedData_del
from #SpreedData
group by CLIENT_ID,CLIENT_ID2, scrip_name
having COUNT(*) =1

delete #SpreedData
from #SpreedData a,#SpreedData_del b
where a.CLIENT_ID =b.CLIENT_ID
and a.CLIENT_ID2 = b.CLIENT_ID2
and a.scrip_name =b.scrip_name
 
 
select CLIENT_ID,CLIENT_ID2, scrip_name
into #SpreedData_del1
from #SpreedData
group by CLIENT_ID,CLIENT_ID2, scrip_name
having COUNT(DISTINCT BS) =1

delete #SpreedData
from #SpreedData a,#SpreedData_del1 b
where a.CLIENT_ID =b.CLIENT_ID
and a.CLIENT_ID2 = b.CLIENT_ID2
and a.scrip_name =b.scrip_name


--select * from #SpreedData
--order by CLIENT_ID,CLIENT_ID2, scrip_name

--return 0
DECLARE @CC VARCHAR(100),
		@VAL NUMERIC(30,4),
		@EXP1 VARCHAR(100),
		@EXP2 VARCHAR(100),
		@CLIENT_ID VARCHAR(100),
		@CLIENT_ID2 VARCHAR(100),
		@BS1 VARCHAR(100),
		@BS2 VARCHAR(100),
		@QTY NUMERIC(30,4),
		@QTY2 NUMERIC(30,4)
		
  

DECLARE	TRANSDETAIL CURSOR FOR
SELECT CC,VAL,EXP1,EXP2
FROM  #SPRED	
--WHERE CC ='HDFC'
ORDER BY DSPREAD_ID ,SPREAD
OPEN		TRANSDETAIL
FETCH NEXT FROM	TRANSDETAIL
INTO  @CC,@VAL,@EXP1,@EXP2

WHILE	( @@FETCH_STATUS = 0 )
BEGIN	
	 


			DECLARE	TRANSDETAIL_1 CURSOR FOR
			SELECT CLIENT_ID,CLIENT_ID2,QTY+ProcessQty
			FROM  #SpreedData	
			WHERE SCRIP_NAME = @CC
			AND CAST(EXPIRY_DATE AS DATETIME) = CAST(@EXP1 AS DATETIME)
			AND ABS(ProcessQty) != ABS(QTY) 
			OPEN		TRANSDETAIL_1
			FETCH NEXT FROM	TRANSDETAIL_1
			INTO  @CLIENT_ID,@CLIENT_ID2,@QTY
			WHILE	( @@FETCH_STATUS = 0 )
			BEGIN	
						IF @QTY > 0 
						BEGIN
							SET @BS1= 'B'
						END
						ELSE
						BEGIN
							SET @BS1= 'S'	 
						END

						DECLARE	TRANSDETAIL_2 CURSOR FOR
						SELECT QTY+ProcessQty
						FROM  #SpreedData	
						WHERE SCRIP_NAME = @CC
						AND CAST(EXPIRY_DATE AS DATETIME) = CAST(@EXP2 AS DATETIME)
						AND ABS(ProcessQty) != ABS(QTY) 
						AND CLIENT_ID = @CLIENT_ID
						AND CLIENT_ID2 = @CLIENT_ID2
						AND BS != @BS1
						OPEN		TRANSDETAIL_2
						FETCH NEXT FROM	TRANSDETAIL_2
						INTO  @QTY2
						WHILE	( @@FETCH_STATUS = 0 )
						BEGIN	

						
								IF @QTY2 > 0 
								BEGIN
									SET @BS2= 'B'
								END
								ELSE
								BEGIN
									SET @BS2= 'S'	 
								END

								IF @BS1 != @BS2
								BEGIN
									
									 
									IF @BS1 ='B'
									BEGIN
										update #SpreedData 
										set ProcessQty = ProcessQty+CASE WHEN abs(@QTY) < abs(@QTY2) then abs(@QTY) else abs(@QTY2) end *-1
										WHERE SCRIP_NAME = @CC AND CLIENT_ID = @CLIENT_ID AND CLIENT_ID2 = @CLIENT_ID2 AND CAST(EXPIRY_DATE AS DATETIME) = CAST(@EXP1 AS DATETIME)

										update #SpreedData 
										set ProcessQty = ProcessQty+CASE WHEN abs(@QTY) < abs(@QTY2) then abs(@QTY) else abs(@QTY2) end 
										WHERE SCRIP_NAME = @CC AND CLIENT_ID = @CLIENT_ID AND CLIENT_ID2 = @CLIENT_ID2 AND CAST(EXPIRY_DATE AS DATETIME) = CAST(@EXP2 AS DATETIME)
									END
									IF @BS1 ='S'
									BEGIN
										update #SpreedData 
										set ProcessQty = ProcessQty+CASE WHEN abs(@QTY) < abs(@QTY2) then abs(@QTY) else abs(@QTY2) end 
										WHERE SCRIP_NAME = @CC AND CLIENT_ID = @CLIENT_ID AND CLIENT_ID2 = @CLIENT_ID2 AND CAST(EXPIRY_DATE AS DATETIME) = CAST(@EXP1 AS DATETIME)

										update #SpreedData 
										set ProcessQty = ProcessQty+CASE WHEN abs(@QTY) < abs(@QTY2) then abs(@QTY) else abs(@QTY2) end *-1
										WHERE SCRIP_NAME = @CC AND CLIENT_ID = @CLIENT_ID AND CLIENT_ID2 = @CLIENT_ID2 AND CAST(EXPIRY_DATE AS DATETIME) = CAST(@EXP2 AS DATETIME)
									END
									 
									
									INSERT INTO #SPANDATA
									(CLIENT_ID,CLIENT_ID2,SCRIP_NAME,SPANMARGIN,LOGIC)
									SELECT @CLIENT_ID,@CLIENT_ID2,@CC,CASE WHEN abs(@QTY) < abs(@QTY2) then abs(@QTY) else abs(@QTY2) end *@VAL,'Future Spread Margin'

									--SELECT @CC,@VAL,@EXP1,CAST(@EXP1 AS DATETIME),CAST(@EXP2 AS DATETIME) ,@CLIENT_ID,@CLIENT_ID2,@QTY,@QTY2

									if @QTY < @QTY2
									begin
										break
									end
									else
									begin
										set @QTY =@QTY+@QTY2
									end
								END
								FETCH NEXT FROM	TRANSDETAIL_2
								INTO  @QTY2
						END
						CLOSE TRANSDETAIL_2
						DEALLOCATE TRANSDETAIL_2
				


				FETCH NEXT FROM	TRANSDETAIL_1
				INTO  @CLIENT_ID,@CLIENT_ID2,@QTY
			END
				CLOSE TRANSDETAIL_1
				DEALLOCATE TRANSDETAIL_1



	FETCH NEXT FROM	TRANSDETAIL
	INTO  @CC,@VAL,@EXP1,@EXP2
END
	CLOSE TRANSDETAIL
	DEALLOCATE TRANSDETAIL


SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,max(SPANMARGIN) SPANMARGIN 
INTO #SPANDATA_fINAL
from 
(
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,sum(SPANMARGIN) SPANMARGIN 
FROM #SPANDATA 
WHERE LOGIC='SOM'
GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME
union all
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,sum(SPANMARGIN) SPANMARGIN 
FROM #SPANDATA 
WHERE LOGIC in('16 CON','Future Spread Margin')
GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME
) b
GROUP by CLIENT_ID,CLIENT_ID2,SCRIP_NAME


--if isnull(@C,'') !=''
--begin
--	SELECT 'del',*
--	FROM #SPANDATA 
--	where client_id2 =@C
--	AND SCRIP_NAME =@S
--	ORDER BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME 
--end 

DELETE #SPANDATA
WHERE LOGIC in('16 CON','Future Spread Margin','SOM')

INSERT INTO #SPANDATA
(CLIENT_ID,CLIENT_ID2,SCRIP_NAME,SPANMARGIN,LOGIC)
SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,sum(SPANMARGIN),'16+FS+SOM'
FROM #SPANDATA_fINAL
GROUP by CLIENT_ID,CLIENT_ID2,SCRIP_NAME



--DELETE #SPANDATA
--FROM #SPANDATA A,(SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,sum(SPANMARGIN) SPANMARGIN FROM #SPANDATA WHERE LOGIC='SOM' )B
--WHERE A.LOGIC = '16 CON'
--AND A.CLIENT_ID = B.CLIENT_ID
--AND A.CLIENT_ID2 = B.CLIENT_ID2
--AND A.SCRIP_NAME = B.SCRIP_NAME
--AND A.SPANMARGIN < B.SPANMARGIN

--DELETE #SPANDATA
--FROM #SPANDATA A,(SELECT * FROM #SPANDATA WHERE LOGIC='16 CON' )B
--WHERE A.LOGIC = 'SOM'
--AND A.CLIENT_ID = B.CLIENT_ID
--AND A.CLIENT_ID2 = B.CLIENT_ID2
--AND A.SCRIP_NAME = B.SCRIP_NAME
--AND A.SPANMARGIN <= B.SPANMARGIN
--DELETE #SPANDATA
--FROM #SPANDATA A,(SELECT * FROM #SPANDATA WHERE LOGIC='SOM' )B
--WHERE A.LOGIC = 'Future Spread Margin'
--AND A.CLIENT_ID = B.CLIENT_ID
--AND A.CLIENT_ID2 = B.CLIENT_ID2
--AND A.SCRIP_NAME = B.SCRIP_NAME
--AND A.SPANMARGIN < B.SPANMARGIN
--and 1=2




SELECT A.CLIENT_ID,A.CLIENT_ID2,A.SCRIP_NAME,MAX(CASE WHEN LOGIC ='16+FS+SOM' THEN SPANMARGIN ELSE 0 END) MRG16  
									  ,ABS(MIN(CASE WHEN LOGIC ='OPTION PRICE' THEN SPANMARGIN ELSE 0 END)) OPTIONLG
INTO #SPAN_OPTION_FINAL
FROM #SPAN_OPTION A,#SPANDATA B
WHERE 
	A.CLIENT_ID = B.CLIENT_ID
AND A.CLIENT_ID2 = B.CLIENT_ID2
AND A.SCRIP_NAME = B.SCRIP_NAME
GROUP BY A.CLIENT_ID,A.CLIENT_ID2,A.SCRIP_NAME
HAVING ABS(MIN(CASE WHEN LOGIC ='OPTION PRICE' THEN SPANMARGIN ELSE 0 END)) <MAX(CASE WHEN LOGIC ='16+FS+SOM' THEN SPANMARGIN ELSE 0 END)


UPDATE #SPANDATA
SET SPANMARGIN  =B.OPTIONLG
FROM #SPANDATA A, #SPAN_OPTION_FINAL B
WHERE 	
	A.CLIENT_ID = B.CLIENT_ID
AND A.CLIENT_ID2 = B.CLIENT_ID2
AND A.SCRIP_NAME = B.SCRIP_NAME
AND A.LOGIC ='16+FS+SOM'


/****************************************** sPREED lOGIN  **************************/


	 
--select * from #SPANDATA	 
--where scrip_name ='RCOM'

		
--select * from #SPANDATA
--where logic = 'Future Spread Margin'


/*******************Khavnvala****/


SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,SUM(SPANMARGIN) SPANMARGIN
INTO #DELSPANCLIENT1
FROM #SPANDATA
GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME
HAVING SUM(SPANMARGIN) < 0

DELETE #SPANDATA
FROM #SPANDATA A,#DELSPANCLIENT1 B
WHERE A.CLIENT_ID =B.CLIENT_ID
AND A.CLIENT_ID2 =B.CLIENT_ID2
and a.SCRIP_NAME =b.SCRIP_NAME
and a.scrip_name not in('NIFTY')
and 1=2
/*******************Khavnvala****/




SELECT CLIENT_ID,CLIENT_ID2,SUM(SPANMARGIN) SPANMARGIN
INTO #DELSPANCLIENT
FROM #SPANDATA
GROUP BY CLIENT_ID,CLIENT_ID2
HAVING SUM(SPANMARGIN) < 0
 

DELETE #SPANDATA
FROM #SPANDATA A,#DELSPANCLIENT B
WHERE A.CLIENT_ID =B.CLIENT_ID
AND A.CLIENT_ID2 =B.CLIENT_ID2


IF @ALL ='Y2'
BEGIN
		DELETE  spanmargin_Inst_Cal 
		WHERE TYPE1 IN(1,2)
		and id = @id

		INSERT INTO spanmargin_Inst_Cal  
		(CLIENT_ID, SCRIP, Span,Client_ID2,TYPE1,id)  
		SELECT CLIENT_ID,SCRIP_NAME,SUM(SPANMARGIN) SPANMARGIN,CLIENT_ID2,1,@id
		FROM #SPANDATA
		where CLIENT_ID2 not like '%_CROSS'
		AND CLIENT_ID2 != '1X2X3X4X'
		AND CLIENT_ID2 != '1X2X3X41'
		GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME 

		--truncate table CM_POSITION_Inst
		--TRUNCATE TABLE CM_Margin_Inst
		--INSERT INTO CM_POSITION_Inst
		--(CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,SCRIP_NAME,EXPIRY_DATE,QTY)
		--SELECT CLIENT_ID,replace(CLIENT_ID2,'_Cross',''),SCRIP_SYMBOL,SCRIP_NAME,EXPIRY_DATE,QTY
		--FROM #SPANREC
		--WHERE CLIENT_ID2 LIKE '%_Cross'

		--INSERT INTO CM_Margin_Inst
		--(CLIENT_ID,CLIENT_ID2,bmargin,type)
		--SELECT CLIENT_ID,replace(CLIENT_ID2,'_Cross',''),SUM(SPANMARGIN)*75/100,1
		--FROM #SPANDATA
		--WHERE CLIENT_ID2 LIKE '%_CROSS'
		--GROUP BY CLIENT_ID,CLIENT_ID2

end
else IF @ALL ='Y1'
BEGIN

		DELETE  spanmargin_Inst  
		WHERE TYPE1 IN(1,2)

		INSERT INTO spanmargin_Inst  
		(CLIENT_ID, SCRIP, Span,Client_ID2,TYPE1)  
		SELECT CLIENT_ID,SCRIP_NAME,SUM(SPANMARGIN) SPANMARGIN,CLIENT_ID2,1
		FROM #SPANDATA
		where CLIENT_ID2 not like '%_CROSS'
		AND CLIENT_ID2 != '1X2X3X4X'
		AND CLIENT_ID2 != '1X2X3X41'
		GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME
--
--		INSERT INTO spanmargin_Inst  
--		(CLIENT_ID,Client_ID2,Span_Cross,TYPE1)  
--		SELECT CLIENT_ID,replace(CLIENT_ID2,'_Cross',''),SUM(SPANMARGIN)*75/100,2
--		FROM #SPANDATA
--		WHERE CLIENT_ID2 LIKE '%_CROSS'
--		GROUP BY CLIENT_ID,CLIENT_ID2

		truncate table CM_POSITION_Inst
		TRUNCATE TABLE CM_Margin_Inst
		INSERT INTO CM_POSITION_Inst
		(CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,SCRIP_NAME,EXPIRY_DATE,QTY)
		SELECT CLIENT_ID,replace(CLIENT_ID2,'_Cross',''),SCRIP_SYMBOL,SCRIP_NAME,EXPIRY_DATE,QTY
		FROM #SPANREC
		WHERE CLIENT_ID2 LIKE '%_Cross'

		INSERT INTO CM_Margin_Inst
		(CLIENT_ID,CLIENT_ID2,bmargin,type)
		SELECT CLIENT_ID,replace(CLIENT_ID2,'_Cross',''),SUM(SPANMARGIN)*75/100,1
		FROM #SPANDATA
		WHERE CLIENT_ID2 LIKE '%_CROSS'
		GROUP BY CLIENT_ID,CLIENT_ID2


end
else
begin

if @ALL ='Y3'
begin
				

					DELETE SPANMARGIN_Exp
					FROM SPANMARGIN_Exp(nolock) A,#SpanClient1 B
					WHERE A.CLIENT_ID = B.CLIENT_ID
					AND TMCODE = B.CLIENT_ID2
					AND SPAN_REQUIRE IS NOT NULL
					and Isnull(COCD,'') != 'CD_NSE'

					INSERT INTO SPANMARGIN_Exp  
					(POSITION_DATE, CLIENT_ID, SCRIP, SPAN_REQUIRE,TMCODE)  
					SELECT convert(datetime,convert(varchar(10),getdate(),103),103),CLIENT_ID,SCRIP_NAME,SUM(SPANMARGIN) SPANMARGIN_Exp,CLIENT_ID2
					FROM #SPANDATA
					where CLIENT_ID2 not like '%_CROSS'
					AND CLIENT_ID2 != '1X2X3X4X'
					AND CLIENT_ID2 != '1X2X3X41'
					GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME
end
else 
begin
		DELETE SPANMARGIN
		FROM SPANMARGIN(nolock) A,#SpanClient1 B
		WHERE A.CLIENT_ID = B.CLIENT_ID
		AND TMCODE = B.CLIENT_ID2
		AND SPAN_REQUIRE IS NOT NULL

		INSERT INTO SPANMARGIN  
		(POSITION_DATE, CLIENT_ID, SCRIP, SPAN_REQUIRE,TMCODE)  
		SELECT convert(datetime,convert(varchar(10),getdate(),103),103),CLIENT_ID,SCRIP_NAME,SUM(SPANMARGIN) SPANMARGIN,CLIENT_ID2
		FROM #SPANDATA
		where CLIENT_ID2 not like '%_CROSS'
		AND CLIENT_ID2 != '1X2X3X4X'
		AND CLIENT_ID2 != '1X2X3X41'
		GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME

		DELETE SPANMARGIN1
		WHERE CLIENT_ID IN('1X2X3X4X','1X2X3X41')

		INSERT INTO SPANMARGIN1
		(POSITION_DATE, CLIENT_ID, SCRIP, SPAN_REQUIRE,TMCODE)  
		SELECT convert(datetime,convert(varchar(10),getdate(),103),103),CLIENT_ID,SCRIP_NAME,SUM(SPANMARGIN) SPANMARGIN,CLIENT_ID2
		FROM #SPANDATA
		where CLIENT_ID IN('1X2X3X4X','1X2X3X41')
		GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME

		DELETE CM_SCRIPWISEMARGIN
		FROM CM_SCRIPWISEMARGIN(nolock) A,#SpanClient1 B
		WHERE A.CLIENT_ID = B.CLIENT_ID
		AND A.CLIENT_ID2 = B.CLIENT_ID2

		DELETE CM_Margin
		FROM CM_Margin(nolock) A,#SpanClient1 B
		WHERE A.CLIENT_ID = B.CLIENT_ID
		AND A.CLIENT_ID2 = B.CLIENT_ID2
		AND TYPE =1


		INSERT INTO CM_SCRIPWISEMARGIN
		(CLIENT_ID,CLIENT_ID2,SCRIP_NAME,SPANMARGIN)
		SELECT CLIENT_ID,replace(CLIENT_ID2,'_Cross',''),SCRIP_NAME,SUM(SPANMARGIN) SPANMARGIN
		FROM #SPANDATA
		WHERE CLIENT_ID2 LIKE '%_CROSS'
		GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME

		INSERT INTO CM_Margin
		(CLIENT_ID,CLIENT_ID2,bmargin,type)
		SELECT CLIENT_ID,replace(CLIENT_ID2,'_Cross',''),SUM(SPANMARGIN)*75/100,1
		FROM #SPANDATA
		WHERE CLIENT_ID2 LIKE '%_CROSS'
		GROUP BY CLIENT_ID,CLIENT_ID2

		DELETE CM_POSITION
		FROM CM_POSITION(nolock) A,#SpanClient1 B
		WHERE A.CLIENT_ID = B.CLIENT_ID
		AND A.CLIENT_ID2 = B.CLIENT_ID2


		INSERT INTO CM_POSITION
		(CLIENT_ID,CLIENT_ID2,SCRIP_SYMBOL,SCRIP_NAME,EXPIRY_DATE,QTY)
		SELECT CLIENT_ID,replace(CLIENT_ID2,'_Cross',''),SCRIP_SYMBOL,SCRIP_NAME,EXPIRY_DATE,QTY
		FROM #SPANREC
		WHERE CLIENT_ID2 LIKE '%_Cross' 

		delete SpanClient
		from SpanClient(nolock) a,#SpanClient b
		where a.Rowid = b.Rowid
 end 
		IF isnull(@C,'') !=''
		BEGIN

				--SELECT CLIENT_ID,CLIENT_ID2,SCRIP_NAME,SUM(SPANMARGIN) SPANMARGIN
				--FROM (
				--SELECT CLIENT_ID,TMCODE CLIENT_ID2,scrip SCRIP_NAME,-SUM(SPAN_REQUIRE) SPANMARGIN
				--FROM SPANMARGIN
				--GROUP BY CLIENT_ID,TMCODE,scrip
				--having isnull(SUM(SPAN_REQUIRE) ,0) !=0
				--UNION ALL
				--SELECT CLIENT_ID,TMCODE CLIENT_ID2,scrip SCRIP_NAME,SUM(SPAN_REQUIRE) SPANMARGIN
				--FROM SPANMARGIN1
				--WHERE SPAN_REQUIRE IS NOT NULL
				--GROUP BY CLIENT_ID,TMCODE,scrip
				--having isnull(SUM(SPAN_REQUIRE) ,0) !=0
				--) B
				--GROUP BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME
				--HAVING ABS(SUM(SPANMARGIN))>=1
				--ORDER BY SPANMARGIN DESC

				select 'SP',* from #SpreedData
				where client_id2 =@C
				AND SCRIP_NAME =@S

				SELECT CC,VAL,EXP1,EXP2
				FROM  #SPRED	
				WHERE CC =@S

				SELECT * FROM #SPANREC
				where client_id2 =@C
				AND SCRIP_NAME =@S
				ORDER BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME,SCRIP_SYMBOL

				SELECT *
				FROM #SPANDATA 
				where client_id2 =@C
				AND SCRIP_NAME =@S
				ORDER BY CLIENT_ID,CLIENT_ID2,SCRIP_NAME 


				SELECT * FROM SPANMARGIN
				where TMCODE =@C
				and span_require is  not null
				AND SCRIP =@S
				ORDER BY CLIENT_ID,SCRIP

				SELECT * FROM SPANMARGIN1
				where TMCODE =@C
				and span_require is  not null
				AND SCRIP =@S
				ORDER BY CLIENT_ID,SCRIP

		END
end

